<!-- Begin Direction Details-->
<section id="direction-details">
    <div class="content-wrapper">
        <section class="image-section" style="background-image: url('{{ site.baseurl }}/img/direction-details.jpg');">
            <h3>Get around Lviv</h3>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>From the Airport</h4>
                        <p>Super Shuttle International is offering a discount to all Google I/O attendees. Reservations must be booked in advance either online or by calling 1-800-BLUE-VAN (1-800-258-3826). The discount code for Google I/O is G66Z7.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                        <h4>Public Transit</h4>
                        <p>The Moscone Center is located at the corner of Fourth & Howard streets, at 800 Howard St. San Francisco, CA 94103 Public transportation to the Moscone Center is accessible via:</p>
                        <p>BART Subway linking San Francisco to Oakland and Berkeley</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                        <h4>Hotels</h4>
                        <p>We have room blocks at the following hotels</p>
                        <ul class="list-with-description">
                            <li><a href="#" target="_blank">InterContinental</a>Sold out</li>
                            <li><a href="#" target="_blank">The Hotel Rex</a>Group Code: GDG or DevFest 2014</li>
                            <li><a href="#" target="_blank">Westin Market Street</a>Group Code: GOIO</li>
                            <li><a href="#" target="_blank">Hotel Adagio</a>Group Code: 1406GOOGLE</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>Questions?</h4>
                        <div class="col-md-4 col-xs-12">
                            <h5>General</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Registration</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Attendance Details</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        </div>
    </div>
</section>
<!-- End Direction Details -->