<!-- Begin Speakers List 2-->
<section id="speakers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            {% for speaker in site.data.speakers %}
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="team-item animated hiding increment-animation" data-animation="fadeInUp" data-delay="500">
                    <figure class="flow-img" style="background-image: url({{ speaker.thumbnailUrl }})">
                        <div class="overlay"></div>
                        {% if speaker.badge != null %}
                        <div class="speaker-badge">
                            <div class="speaker-badge-wrapper">
                                <img src="{{ speaker.badge[0]["url"] }}" alt="{{ speaker.badge[0]["title"] }}">
                            </div>
                            <span>{{ speaker.badge[0]["title"] }}</span>
                        </div>
                        {% endif %}
                        <figcaption>
                            <div class="col-md-9 col-xs-9 text-left">
                                <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ speaker.company }}</span>
                            </div>
                                {% for social in speaker.social %}
                                <a href="{{ social[" link "] }}" target="_blank">
                                    <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
                                    </svg>
                                </a>
                                {% endfor %}
                        </figcaption>
                        <p>{{ speaker.bio }}</p>
                    </figure>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Speakers List 2 -->