<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="preloader">
        <div id="loading-animation">&nbsp;</div>
    </div>
    <div id="st-container" class="st-container">

        {% include header.html %}

        <div class="st-pusher">
            <div class="st-content">

                <div class="row post">

                    <!-- <a href="#" title="{{ page.title }}"><h4>{{ page.title }}</h4></a> -->
                    <header class="post-header">
                        <p class="meta"></p>
                        <div class="published pull-left">
                            <span class="publish-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
                        </div>
                        <div class="share pull-right">
                            <ul class="social-links">
                                <li>
                                    <a href="https://plus.google.com/share?url={{ post.url | prepend: site.baseurl | prepend: site.url }}" onclick="window.open('https://plus.google.com/share?url={{ post.url | prepend: site.baseurl | prepend: site.url }}', 'newwindow', 'width=600, height=500'); return false;">
                                        <svg class="icon icon-google-plus" viewBox="0 0 30 32">
                                            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-google-plus"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/home?status={{ post.url | prepend: site.baseurl | prepend: site.url }}" onclick="window.open('https://twitter.com/home?status={{ post.url | prepend: site.baseurl | prepend: site.url }}', 'newwindow', 'width=600, height=250'); return false;">
                                        <svg class="icon icon-twitter" viewBox="0 0 30 32">
                                            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.url | prepend: site.baseurl | prepend: site.url }}" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ post.url | prepend: site.baseurl | prepend: site.url }}', 'newwindow', 'width=600, height=500'); return false;">
                                        <svg class="icon icon-facebook" viewBox="0 0 30 32">
                                            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </header>

                    <article class="post-body">
                        {{ content }}
                    </article>

                </div>

                {% if site.blogCommentsEnabled %}
                    {% include disqus-comments.html %}
                {% endif %}

                {% include footer.html %}

            </div>
        </div>
    </div>

    {% include analytics.html %}

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- jQuery local fallback -->
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js " | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS local fallback -->
    <script>
        if (typeof ($.fn.modal) === 'undefined') {
            document.write('<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}><\/script>')
        }
    </script>   
    <script src="{{ "/js/typed.min.js " | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.countTo.min.js " | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.appear.min.js " | prepend: site.baseurl }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        //Location properties
        var googleMaps = 'index';
        var eventPlace = new google.maps.LatLng({{site.eventPlaceCoordinates}});
        var centerMap = new google.maps.LatLng({{site.mapCenterCoordinates}});
        var mobileCenterMap = new google.maps.LatLng({{site.mapMobileCenterCoordinates}});
        var icon = '{{ site.baseurl }}/img/svg/map-marker.svg';
        $(document).ready(function () {
            var bodyColor = $('body').css('color');
            if (bodyColor != 'rgb(51, 51, 51)') {
                $("head").prepend('<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">');
            }
            $(function () {
                $("#typeout-text").typed({
                    strings: [{{site.typeoutTextValues}}],
                    typeSpeed: 150,
                    backDelay: 900,
                    loop: true
                });
            });
        });
    </script>
    <script src="{{ "/js/scripts.js " | prepend: site.baseurl }}"></script>
</body>

</html>