<!-- Begin Top Section -->
<section id="top-section" style="background-image: url('/img/hero.jpg');">
  <header id="top-header" class="col-lg-10 col-sm-12">
    <div id="st-trigger-effects" class="visible-xs">
      <svg class="icon icon-menu" viewBox="0 0 32 32" data-effect="st-effect">
        <use xlink:href="#icon-menu"></use>
      </svg>
    </div>
    <img id="logo-header" class="logo-header" src="/img/svg/logo-light.svg" alt="GDG DevFest">
    <nav class="st-menu st-effect" id="menu">
      <img class="logo-navbar visible-xs" src="/img/svg/logo-dark.svg" alt="GDG DevFest">
      <ul>
        <li><a class="current" href="/">Home</a>
        </li>
        <li><a href="/blog/">Blog</a>
        </li>
        <li><a href="#">Schedule</a>
        </li>
        <li><a href="#">Speakers</a>
        </li>
        <li><a href="#">Team</a>
        </li>
        <li><a href="#">Hackathon</a>
        </li>
        <li><a href="#">Logistics</a>
        </li>
      </ul>
      <ul class="bottom-navlinks visible-xs visible-sm">
        <li><a href="#">Buy tickets</a>
        </li>
      </ul>
      <a id="buy-tickets-button" href="#" class="btn btn-primary pull-right hidden-xs hidden-sm hidden">Buy tickets</a>
    </nav>
  </header>
  <div class="jumbotron">
    <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
      <h1>GDG DevFest <span id="typeout-text"></span> 2014</h1>
      <p>October - November, 2014</p>
      <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <a href="#" class="explore">
    <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
      <use xlink:href="#icon-arrow-down"></use>
    </svg>
  </a>
</section>
        <!-- End Top Section -->