<!-- Begin Location Section -->
<section id="location">
    <div id="canvas-map"></div>
    <div class="col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
        <div class="row">
            <div class="pull-left">
                <h3>Location</h3>
                <ul itemscope="" itemtype="http://schema.org/PostalAddress">
                    <li itemprop="address">22 Teatral'na St, Lviv</li>
                    <li itemprop="email"><a href="mailto:devfest@gdg.org.ua">devfest@gdg.org.ua</a>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/Event">
                        <time itemprop="startDate" datetime="2014-10-18T10:00">10:00</time>-
                        <time itemprop="endDate" datetime="2014-10-18T20:00">20:00</time>
                    </li>
                </ul>
            </div>
            <a href="https://www.google.com/maps/dir//Teatral'na+St,+22,+Lviv,+79000/@49.8433784,24.0280573,18z/data=!4m12!1m3!3m2!1s0x0:0x6cf545e48e348c1f!2z0JrQhtCd0J7Qn9CQ0JvQkNCm!4m7!1m0!1m5!1m1!1s0x473add72950f6e8d:0x6cf545e48e348c1f!2m2!1d24.028718!2d49.843293" class="pull-right" target="_blank">
                <img src="img/svg/direction.svg">
            </a>
        </div>
    </div>

</section>
                <!-- End Location Section -->